#small{
    height: 50%;
    width: 50%;
    cursor: url("normal.cur"),auto;
    background-color: red;
    font-size: 50px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 600%;
}
#parent{
    height: 100%;
    width: 100%;
    background-color: cyan;

}
#small::selection{
    background-color: transparent;
    color: black;
}