body{
    margin: 0;
    background-color: #37353E;

}
.unit{
    background-color: #44444E;
    height: 210px;
    width: 220px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
    margin-bottom: 10px;
    margin-top: 10px;
}
img{
    height: 133px;
    width: 220px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    margin-top:-23px;
    color: #16476A;
    cursor: default;

}
p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    cursor: default;
    color: white;
}
.unit:hover{
    transform: scale(1.1);
    transition: 0.3s;
    box-shadow: 4px 4px 20px black;
}
a{
    text-decoration: none;
    color: default;
}