body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
}

.header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.container {
    width: 80%;
    margin: auto;
    padding-top: 30px;
}

.download-section {
    text-align: center;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.download-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}
.download-button:active{
    color:blue;
    background-color:yellowgreen;
}
.about-section {
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
#p{
    text-align: justify;
    font-size: large;
    font-weight: 500;
    color:darkorange;
}
h2 {
    background-color: blue;
    font-size: 50px;
    text-align: center;
    width: 70%;
    margin-left: 20%;
}
#wel{
    background-color: blue;
    font-size: 45px;
    text-align: center;
    width: 90%;
    margin-left:6%;
}
#screen {
    background-color: blue;
    font-size: 45px;
    text-align: center;
    width: 70%;
    margin-left:15%;
}