
/*::webkit-scrollbar {
  width: 12px; /* Adjust the width as needed */


/*::webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #ffcc00, #ff6600); /* Gradient colors */
  /*border-radius: 6px; /* Rounded corners */


/*::webkit-scrollbar-track {
  background-color: #f0f0f0; /* Track color */
  /*border-radius: 6px; /* Rounded corners */

body{
  background: url("pexels-pixabay-414144.jpg") no-repeat;
  background-size: 100% 100%;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
  cursor: url("normal.cur"), auto;
  scroll-behavior:smooth;
}
h1{
  background-color: rgb(92, 93, 94);
  color: whitesmoke;
  text-align: center;
  height: fit-content;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}
h2{
  color: white;
  text-align: center;
  background-color: #FFBB5C;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  height: fit-content;
  justify-content: center;
  font-size: 30px;
}
p{
  color: wheat;
  text-align: center;
  background-color: #11999E;
  height: fit-content;
  width: 80%;
  margin-left: 10%;
  text-align: center;
}
#Python{
  background: url("Python.jpg") ;
  overflow: auto;
  height: 60%;
  overflow-x: hidden;  
}
#python::-webkit-scrollbar{
  width: 10px;
}
#python::-webkit-scrollbar-thumb{
  background: linear-gradient(to bottom, #ffcc00, #ff6600);
  border-radius: 6px;
}
#python::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Track color */
  border-radius: 6px; /* Rounded corners */
}
#html::-webkit-scrollbar{
  width: 10px;
}
#html::-webkit-scrollbar-thumb{
  background: linear-gradient(to bottom, #2772db, #3ab1c8);
  border-radius: 6px;
}
#html::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Track color */
  border-radius: 6px; /* Rounded corners */
}
#html{
  background: url("Html.jpg");
  overflow: auto;
  height: 60%;
  overflow-x: hidden;
}
#autoClickButton{
  background-color: transparent;
  border-color: transparent;
}
#h3{
  background-color: red;
  width: 390px;
  margin-left: 25px;
  color: blue;
  font-size: 25px;
  font-size: 35px;
}

#moda{
  background-color: #001923;
  border-color: transparent;
  box-shadow: 0 0 red;
  filter: blur(0.5px);
  position: relative;
  max-width: 600px;
  padding: 50px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .1);
  background: rgba(255, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(85, 35, 151, 0.25);
  position:fixed;
  cursor: url("normal.cur"), auto;
  
}
#close{
  height: 50px;
  width: 100px;
  margin-left: 40%;
  background-color: green;
  border-color: transparent;
  border-radius: 10%;
  color:fuchsia;
  font-weight: 800;
  font-size: 17px;
  filter: blur(0.5px) opacity(40%);
  font-style: italic;
  cursor: url("normal.cur"), auto;
  animation: button infinite ease-in-out 1s alternate;
}
a{
  text-decoration: none;
  cursor: url("normal.cur"), auto;
}
@keyframes button {
0%{background-color: rgb(50, 216, 139); color: white;}
50%{background-color: rgb(17, 204, 195); color:red;}
100%{background-color: rgb(10, 106, 184); color: rgb(241, 14, 14);}
}
@media screen and (max-width: 900px) {
#python{
  height: 50%;
}
h2{
  font-size: 50px;
}
p{
  font-size: 40px;
}
#close{
  height: 70px;
  width: 200px;
  margin-left: 30%;
  font-size: 35px;
}
}
#btn{
  height: 50px;
  width: 200px;
  border-radius: 15px;
  font-size: 25px;
  font-family: "Truculenta", sans-serif;
  border-color: transparent;
  background-color: #1bf5af;
  color: #005792;
}
#btn:active{
  border-color: #ff6600;
}
#hhtml{
  background-color: #fc3a52;
}